{
    "singleQuote": true,
    "printWidth": 110,
    "tabWidth": 2,
    "trailingComma":"all",
    "bracketSpacing": true,
    "semi": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
  }